doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title MLB Injured List
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  body.container(style='margin-top: 6em;')
    nav.navbar.navbar-dark.bg-primary.fixed-top
      span.navbar-brand.mv-0.h1 MLB Injured List
    table.table.table-striped
      thead
        tr
          th(scope='col') Player
          th(scope='col') Team
          th(scope='col') Position
          th(scope='col') Notes
      tbody
        each injuredPlayer in injuredList
          tr
            td(scope='row')= injuredPlayer.name
            td(scope='row')= injuredPlayer.team
            td(scope='row')= injuredPlayer.position
            td(scope='row')= injuredPlayer.notes
    p.small
      | Source available on 
      a(href='https://gitlab.com/ryanaghdam/mlb-dl') GitLab
      | .  Data provided by FantacyBaseballNerd.com.
